.book-menu hr {
  margin: 2.5em 0;
}

.book-menu img {
  width:100%;
  margin-bottom:2.5em;
  overflow: hidden;
}

.book-menu ul {
  margin-bottom:2em;
}

.book-page {
  h2 {
    padding-bottom: .25em;
    border-bottom: .5px solid #999;
  }

  h3 {
    font-weight:500 !important;
  }

  h4 {
    font-weight:500 !important;
    color: #333;
    text-decoration: underline;
  }

  ul {
    li > p {
      margin:.5em 0 !important;
    }
  }
}
