mark.current {
  background: orange;
}

.book-menu {
  hr {
    margin: 2.5em 0;
  }

  img {
    width:100%;
    margin-bottom:1em;
    overflow: hidden;
  }

  input#search {
    width:50%;
    margin-bottom:1em;
    margin-right:.25em;
    padding:.2em;
  }

  img.license {
    width:auto;
    overflow: hidden;
    margin:0;
  }

  img.goatcounter {
    width:100px;
    overflow: hidden;
    margin:0;
  }

  ul {
    margin-bottom:2em;
  }

  p:first-child {
    margin:0;
  }

  a:link, a:visited {
    color:#05b !important;
  }

  span.menu-header {
    font-size:1.5em;
    font-weight:bold;
    color:#333;
  }
}

.book-page {
  h2 {
    padding-bottom: .25em;
    border-bottom: .5px solid #999;
  }

  h3 {
    font-weight:500 !important;
  }

  h4 {
    font-weight:500 !important;
    color: #333;
    text-decoration: underline;
  }

  ul {
    li > p {
      margin:.5em 0 !important;
    }
  }
}
